<% if @defence_request.interview_start_time? %>
  <%= render "custody_suite/interview_start_times/interview_time" %>
<% elsif @policy.interview_start_time_edit? %>
  <%= render "custody_suite/interview_start_times/form" %>
<% end %>

<% if false # disabled for CSO testing. Only show this content to Solicitors %>
<div class="location">
  <h3>Location</h3>
  <p>This is a made up address because it's not implemented <%= link_to "XX9 9XX", "X" %></p>
</div>

<h3>Contacts</h3>
<dl class="labels contacts">
  <dt>Custody officer</dt> <dd>Made up name</dd>
  <dt>Custody suite contact number</dt> <dd> <tel>000 0000 0000</tel> </dd>

  <%= display_value "investigating_officer_name", @defence_request.investigating_officer_name %>
  <%= display_value "investigating_officer_contact_number", @defence_request.investigating_officer_contact_number %>
</dl>
<% end %>
