<h3><%= t("interview_planning") %></h3>

<% unless @defence_request.interview_start_time %>
  <span class="hint"><%= t("interview_planning_help") %></span>
<% end %>

<%= remote_form_for(
            @defence_request_form,
            local_assigns.fetch(:remote, true),
            url: defence_request_interview_start_time_path(defence_request_id: @defence_request.id),
            method: :patch,
            builder: LabellingFormBuilder,
            as: :defence_request,
            data: { container: "#interview" }
    ) do |f| %>

    <%= f.form_group(:interview_start_time) do %>
        <% render("shared/date_time_form_part",
                  attribute: :interview_start_time,
                  hint_label: false,
                  dates: [Day::TODAY, Day::TOMORROW, Day::DAY_AFTER_TOMORROW],
                  initial_date_index: 0,
                  f: f) %>
    <% end %>

    <%= f.submit(t("add_interview_start_time"), class: "button") %>
<% end %>
