<%
   form_params = {
     url: defence_request_interview_start_time_path(defence_request_id: @defence_request.id),
     method: :patch,
   }
   remote = true unless local_assigns.has_key?(:remote)
   if remote
     form_params.merge!(remote: true, data: { container: "#interview" }, authenticity_token: true)
   end
%>

<h3><%= t("interview_planning") %></h3>

<% unless @defence_request.interview_start_time %>
  <span class="hint"><%= t("interview_planning_help") %></span>
<% end %>

<%= render 'shared/error_messages', object: @defence_request %>

<%= form_for(@defence_request, form_params) do |f| %>
    <%= render("shared/date_time_form_part",
               attribute: :interview_start_time,
               show_label: true,
               hint_label: false,
               dates: [Day::TODAY, Day::TOMORROW, Day::DAY_AFTER_TOMORROW],
               f: f) %>
    <%= f.submit(t("add_interview_start_time"), class: "button") %>
<% end %>