<h3><%= t('case_details') %></h3>
<div class="case-details">
  <%= render('defence_requests/form_partials/case_time_of_arrest', f: f) %>

  <%= render('defence_requests/form_partials/case_time_of_arrival', f: f) if @policy.add_case_time_of_arrival? %>

  <%= render('defence_requests/form_partials/case_time_of_detention_authorised', f: f) %>

  <%= render('defence_requests/form_partials/case_interview_start_time', f: f) if @policy.interview_start_time_edit? %>

  <%= render('defence_requests/form_partials/case_details', f: f) if @policy.create? %>

  <% unless @defence_request.dscc_number.blank? %>
      <div class="form-group">
        <span class="form-label"><%= t("dscc_number"); %></span>
        <span><%= @defence_request.dscc_number %></span>
      </div>
  <% end %>
</div>
