<h2><%= t('case_details') %></h2>
<div class="case-details">
  <%= f.text_field_input(:custody_number) %>

  <%= f.form_group(:time_of_arrest) do %>
    <%# TODO: inner %>
    <%= render('shared/date_time_form_part',
               attribute: :time_of_arrest,
               show_label: true,
               dates: [Day::YESTERDAY, Day::TODAY],
               initial_date_index: 1,
               f: f) %>
  <% end %>

  <% if @policy.add_case_time_of_arrival? %>
    <%= f.form_group(:time_of_arrival) do %>
      <%# TODO: inner %>
      <%= render('shared/date_time_form_part',
                 attribute: :time_of_arrival,
                 show_label: true,
                 dates: [Day::YESTERDAY, Day::TODAY],
                 initial_date_index: 1,
                 f: f) %>
    <% end %>
  <% end %>

  <%= f.form_group(:time_of_detention_authorised) do %>
    <%# TODO: inner %>
    <%= render('shared/date_time_form_part',
               attribute: :time_of_detention_authorised,
               show_label: true,
               dates: [Day::YESTERDAY, Day::TODAY],
               initial_date_index: 1,
               f: f) %>
  <% end %>

  <% if @policy.interview_start_time_edit? %>
    <%= render('shared/date_time_form_part',
               attribute: :interview_start_time,
               show_label: true,
               hint_label: :interview_start_time_hint,
               optional: true,
               dates: [Day::TODAY, Day::TOMORROW, Day::DAY_AFTER_TOMORROW],
               f: f) %>
  <% end %>

  <%= render('defence_requests/form_partials/case_details', f: f) if @policy.create? %>

  <% unless @defence_request.dscc_number.blank? %>
    <div class="form-group">
      <span class="form-label"><%= t("dscc_number"); %></span>
      <span><%= @defence_request.dscc_number %></span>
    </div>
  <% end %>
</div>
