<div class="form-group">
  <fieldset class="inline time-select">
    <label for>
      <%= f.label :interview_start_time, t('interview_start_time'), class: 'form-label-bold' %>
      <span class='hint block'><%= t('time_hint') %></span>
    </label>
    <div class="date-field-wrapper">
      <%= f.label :interview_start_time_hour, t('hour') %>
      <%= f.text_field :interview_start_time_hour, class: 'hour text-field' %>
    </div>
    <div class="date-field-wrapper">
      <%= f.label :interview_start_time_minute, t('min') %>
      <%= f.text_field :interview_start_time_minute, class: 'minute text-field' %>
    </div>
  </fieldset>
</div>
