<div class="form-group">
  <fieldset class="inline time-select">
    <label for>
      <%= f.label :date_of_birth, t('detainee_dob'), class: 'form-label-bold' %>
      <span class='hint block'><%= t('date_hint') %></span>
    </label>
    <%= f.fields_for :date_of_birth, @defence_request_form.fields[:date_of_birth] do |t| %>
      <div class="date-field-wrapper">
        <%= t.label t('day') %>
        <%= t.text_field :day, size: 2, placeholder: 'DD', class: 'day text-field' %>
      </div>
      <div class="date-field-wrapper">
        <%= t.label t('month') %>
        <%= t.text_field :month, size: 2, placeholder: 'MM', class: 'month text-field' %>
      </div>
      <div class="date-field-wrapper">
        <%= t.label t('year') %>
        <%= t.text_field :year, size: 4, placeholder: 'YYYY', class: 'year text-field' %>
      </div>
    <% end %>
  </fieldset>
</div>
