<div class="form-group">
  <fieldset class="inline time-select">
    <label for>
      <%= f.label :date_of_birth, label_text_for_form(attribute_name: 'detainee_dob'), class: 'form-label-bold' %>
      <span class='hint block'><%= t('date_hint') %></span>
    </label>
    <%= f.fields_for :date_of_birth, @defence_request_form.fields[:date_of_birth] do |t| %>
      <div class="date-field-wrapper">
        <%= t.label t('day'), class: "form-label" %>
        <%= t.text_field :day, size: 2, maxlength: 2, class: 'day text-field not-given-check',
                    data: { "disable-when" => "defence_request_date_of_birth_not_given" } %>
      </div>
      <div class="date-field-wrapper">
        <%= t.label t('month'), class: "form-label" %>
        <%= t.text_field :month, size: 2, maxlength: 2, class: 'month text-field not-given-check',
                    data: { "disable-when" => "defence_request_date_of_birth_not_given" } %>
      </div>
      <div class="date-field-wrapper">
        <%= t.label t('year'), class: "form-label" %>
        <%= t.text_field :year, size: 4, maxlength: 4, class: 'year text-field not-given-check',
                    data: { "disable-when" => "defence_request_date_of_birth_not_given" } %>
      </div>
    <% end %>
  </fieldset>
  <%= f.label :date_of_birth_not_given, class: 'form-checkbox' do %>
    <%= f.check_box :date_of_birth_not_given %>
    <%= t("not_given") -%>
  <% end %>
</div>
