<div class="form-group">
  <%= f.label :detainee_name, t('full_name') %>
  <%= f.text_field :detainee_name, class: 'text-field' %>
</div>
<div class="form-group">
  <fieldset class="inline">
    <%= f.label :gender, t('gender') %>
    <label class="block-label" for="defence_request_gender_male">
      <%= f.radio_button :gender, :male, name: 'defence_request[gender]' %>
      <%= t('male') %>
    </label>
    <label class="block-label" for="defence_request_gender_female">
      <%= f.radio_button :gender, :female, name: 'defence_request[gender]' %>
      <%= t('female') %>
    </label>
  </fieldset>
</div>
<div class="form-group">
  <fieldset class="inline">
    <label for>
      <%= t('detainee_dob') %>
      <span class='hint block'><%= t('date_hint') %></span>
    </label>
    <div class="date_field_wrapper">
      <%= f.label :date_of_birth_day, t('day') %>
      <%= f.text_field :date_of_birth_day, class: 'day text-field'%>
    </div>
    <div class="date_field_wrapper">
      <%= f.label :date_of_birth_month, t('month') %>
      <%= f.text_field :date_of_birth_month, class: 'month text-field'%>
    </div>
    <div class="date_field_wrapper">
      <%= f.label :date_of_birth_year, t('year') %>
      <%= f.text_field :date_of_birth_year, class: 'year text-field'%>
    </div>
  </fieldset>
</div>

<div class="form-group">
  <%= f.label :detainee_age, t('age') %>
  <%= f.text_field :detainee_age, class: 'age text-field'%>
</div>

<div class="form-group">
  <fieldset class="inline">
    <%= f.label :appropriate_adult, t('appropriate_adult_required') %>
    <label class="block-label" for="defence_request_appropriate_adult_yes">
      <%= f.radio_button :appropriate_adult, :yes, name: 'defence_request[appropriate_adult]' %>
      <%= t('yes') %>
    </label>
    <label class="block-label" for="defence_request_appropriate_adult_no">
      <%= f.radio_button :appropriate_adult, :no, name: 'defence_request[appropriate_adult]' %>
      <%= t('no') %>
    </label>
  </fieldset>
</div>
