<div class="form-group">
  <%= f.label :detainee_name, t('full_name') %>
  <%= f.text_field :detainee_name, class: 'text-field text-field-wide' %>
</div>
<div class="form-group">
  <fieldset class="inline">
    <%= f.label :gender, t('gender') %>
    <label class="block-label" for="defence_request_gender_male">
      <%= f.radio_button :gender, :male, name: 'defence_request[gender]' %>
      <%= t('male') %>
    </label>
    <label class="block-label" for="defence_request_gender_female">
      <%= f.radio_button :gender, :female, name: 'defence_request[gender]' %>
      <%= t('female') %>
    </label>
  </fieldset>
</div>

<%= render('defence_requests/form_partials/detainee_date_of_birth', f: f) %>

<div class="form-group">
  <%= f.label :detainee_age, t('age') %>
  <%= f.text_field :detainee_age, class: 'age text-field' %>
</div>

<div class="form-group">
  <fieldset class="inline">
    <%= f.label :appropriate_adult, t('appropriate_adult') %>
    <label class="block-label" for="defence_request_appropriate_adult_true">
      <%= f.radio_button :appropriate_adult, true, name: 'defence_request[appropriate_adult]', checked: @defence_request.appropriate_adult.present?, class: 'appropriate_adult_radio' %>
      <%= t('yes') %>
    </label>
    <label class="block-label" for="defence_request_fit_for_interview_false">
      <%= f.radio_button :appropriate_adult, false, name: 'defence_request[appropriate_adult]', checked: @defence_request.appropriate_adult.blank?, class: 'appropriate_adult_radio' %>
      <%= t('no') %>
    </label>
  </fieldset>
</div>

<div class="form-group">
  <%= f.label :appropriate_adult_reason, t('appropriate_adult_reason') %>
  <%= f.text_area :appropriate_adult_reason, disabled: true, label: t('appropriate_adult_reason'), rows: '5', class: 'text-field text-field-wide' %>
</div>

<div class="form-group">
  <%= f.label :house_name, t('house_name') %>
  <%= f.text_field :house_name, class: 'text-field text-field-wide' %>
</div>
<div class="form-group">
  <%= f.label :address_1, t('address_1') %>
  <%= f.text_field :address_1, class: 'text-field text-field-wide' %>
</div>
<div class="form-group">
  <%= f.label :address_2, t('address_2') %>
  <%= f.text_field :address_2, class: 'text-field text-field-wide' %>
</div>
<div class="form-group">
  <%= f.label :city, t('city') %>
  <%= f.text_field :city, class: 'text-field text-field-wide' %>
</div>
<div class="form-group">
  <%= f.label :county, t('county') %>
  <%= f.text_field :county, class: 'text-field text-field-wide' %>
</div>
<div class="form-group">
  <%= f.label :postcode, t('postcode') %>
  <%= f.text_field :postcode, class: 'text-field text-field-wide' %>
</div>
