
<%= f.text_field_input(:detainee_name,
    input_data: { "disable-when" => "defence_request_detainee_name_not_given"}) do %>
  <% f.label :detainee_name_not_given, class: 'form-checkbox' do %>
    <%= f.check_box :detainee_name_not_given %>
    <%= t("not_given") -%>
  <% end %>
<% end %>

<%= f.radio_button_fieldset :gender,
      label_text_for_form(attribute_name: "gender"),
      class: "radio inline",
      choice: [ "male", "female", "transgender", "unspecified" ]
%>

<%= f.form_group(:date_of_birth) do %>
  <% render('defence_requests/form_partials/detainee_date_of_birth', f: f) %>
<% end %>

<%= f.text_field_input(:detainee_address,
    input_data: { "disable-when" => "defence_request_detainee_address_not_given"}) do %>
  <% f.label :detainee_address_not_given, class: 'form-checkbox' do %>
    <%= f.check_box :detainee_address_not_given %>
    <%= t("not_given") -%>
  <% end %>
<% end %>

<%= f.radio_button_fieldset :appropriate_adult,
      label_text_for_form(attribute_name: "appropriate_adult"),
      class: "radio inline",
      choice: [ "true", "false" ]
%>

<div class="form-group panel-indent" data-show-when="defence_request_appropriate_adult_true">
  <fieldset class="inline">
    <%= f.label :appropriate_adult_reason, label_text_for_form(attribute_name: 'appropriate_adult_reason') + ":", class: "form-label-bold" %>
    <label class="block-label form-label" for="defence_request_appropriate_adult_reason_detainee_juvenile">
      <%= f.radio_button :appropriate_adult_reason, :detainee_juvenile, name: 'defence_request[appropriate_adult_reason]' %>
      <%= t('detainee_juvenile') %>
    </label>
    <label class="block-label form-label" for="defence_request_appropriate_adult_reason_detainee_with_mental_issue">
      <%= f.radio_button :appropriate_adult_reason, :detainee_with_mental_issue, name: 'defence_request[appropriate_adult_reason]' %>
      <%= t('detainee_with_mental_issue') %>
    </label>
  </fieldset>
</div>

<%= f.radio_button_fieldset :interpreter_required,
      label_text_for_form(attribute_name: "interpreter_required_question"),
      class: "radio inline",
      choice: [ "true", "false" ]
%>

<div class="form-group panel-indent" data-show-when="defence_request_interpreter_required_true">
  <%= f.label :interpreter_type, label_text_for_form(attribute_name: 'interpreter_type'), class: "form-label-bold" %>
  <%= f.text_field :interpreter_type, class: 'text-field text-field-wide' %>
</div>
