<% if @defence_request_form.defence_request.new_record? %>
  <%= f.submit class: 'button' %>
  <div class="form-links">
    <%= link_to t('cancel_and_delete_all_details'), defence_requests_path %>
  </div>
<% else %>
  <%= f.submit class: 'button' %>
  <%= f.submit(t('update_and_accept'), class: 'button warning') if @policy.update_and_accept? %>
  <div class="form-links">
    <%= link_to t('cancel'), defence_requests_path %>
    <%= link_to t('abort'), abort_defence_request_path(@defence_request_form.defence_request) if @policy.abort? %>
  </div>
<% end %>