<div class="form-group">
  <fieldset class="inline time-select">
    <label for>
      <%= f.label :solicitor_time_of_arrival, t('solicitor_time_of_arrival'), class: 'form-label-bold' %>
      <span class='hint block'><%= t('date_time_hint') %></span>
    </label>

    <%= f.fields_for :solicitor_time_of_arrival, @defence_request_form.fields[:solicitor_time_of_arrival] do |t| %>
      <div class="date-field-wrapper">
        <%= t.label t('day') %>
        <%= t.text_field :day, size: 2, placeholder: 'DD', class: 'day text-field' %>
      </div>
      <div class="date-field-wrapper">
        <%= t.label t('month') %>
        <%= t.text_field :month, size: 2, placeholder: 'MM', class: 'month text-field' %>
      </div>
      <div class="date-field-wrapper">
        <%= t.label t('year') %>
        <%= t.text_field :year, size: 4, placeholder: 'YYYY', class: 'year text-field' %>
      </div>
      <div class="date-field-wrapper">-</div>
      <div class="date-field-wrapper">
        <%= t.label t('hour') %>
        <%= t.text_field :hour, size: 2, placeholder: 'HH', class: 'hour text-field' %>
      </div>
      <div class="date-field-wrapper">
        <%= t.label t('min') %>
        <%= t.text_field :min, size: 2, placeholder: 'MM', class: 'minute text-field' %>
      </div>
    <% end %>
  </fieldset>
</div>
