<div class="">
  <%= f.label :solicitor_name, t('full_name') %>
  <%= f.text_field :solicitor_name, class: 'text-field' %>
</div>

<div class="form-group">
  <%= f.label :solicitor_firm, t('name_of_firm') %>
  <%= f.text_field :solicitor_firm, class: 'text-field' %>
</div>

<div class="form-group">
  <%= f.label :solicitor_email, t('solicitor_email') %>
  <%= f.text_field :solicitor_email, class: 'text-field' %>
</div>

<div class="form-group">
  <%= f.label :phone_number, t('telephone_number') %>
  <%= f.text_field :phone_number, class: 'text-field' %>
</div>
