<% today, tomorrow, initial_date, initial_date_type = data_chooser_setup(@defence_request.solicitor_time_of_arrival) %>
<div class="form-group">
  <fieldset class="inline time-select date-chooser">
    <h1><%= t('arrival_time') %></h1>

    <%= f.fields_for :solicitor_time_of_arrival, @defence_request_form.fields[:solicitor_time_of_arrival] do |t| %>
      <div class="date-field-wrapper">
        <%= t.label t('hour') %>
        <%= t.text_field :hour, size: 2, placeholder: 'HH', class: 'hour text-field' %>
      </div>
      <div class="date-field-wrapper">
        <%= t.label t('min') %>
        <%= t.text_field :min, size: 2, placeholder: 'MM', class: 'minute text-field' %>
      </div>
      <div class="date-field-wrapper">-</div>
      <div class="date-chooser-values">
        <label class="date-chooser-select form-label" data-initial-date="<%= initial_date_type %>">
          <span class="today" data-date-display="<%= today.to_s(:full) %>" data-day="<%= today.day %>" data-month="<%= today.month %>" data-year="<%= today.year %>"><%= t('today') %></span>
          <span class="tomorrow" data-date-display="<%= tomorrow.to_s(:full) %>" data-day="<%= tomorrow.day %>" data-month="<%= tomorrow.month %>" data-year="<%= tomorrow.year %>"><%= t('tomorrow') %></span>
        </label>
        <div class="date-field-wrapper">
          <%= t.label t('day') %>
          <%= t.text_field :day, size: 2, placeholder: 'DD', class: 'day text-field', value: initial_date.day %>
        </div>
        <div class="date-field-wrapper">
          <%= t.label t('month') %>
          <%= t.text_field :month, size: 2, placeholder: 'MM', class: 'month text-field', value: initial_date.month %>
        </div>
        <div class="date-field-wrapper">
          <%= t.label t('year') %>
          <%= t.text_field :year, size: 4, placeholder: 'YYYY', class: 'year text-field', value: initial_date.year %>
        </div>
      </div>
    <% end %>
  </fieldset>
</div>
