<div class="panel">
  <legend><%= t('what_type_is_being_requested') %></legend>
  <fieldset class="inline">
    <label class="block-label" for="defence_request_solicitor_type_own">
      <%= f.radio_button :solicitor_type, :own, name: 'defence_request[solicitor_type]', class: 'solicitor_type_radio' %>
      <%= t('own') %>
    </label>
    <label class="block-label" for="defence_request_solicitor_type_duty">
      <%= f.radio_button :solicitor_type, :duty, name: 'defence_request[solicitor_type]', class: 'solicitor_type_radio' %>
      <%= t('duty') %>
    </label>
  </fieldset>
  <% if @defence_request.new_record? %>
    <div class="form-group">
      <%= render 'defence_requests/form_partials/solicitor_search' %>
    </div>
  <% end %>
</div>
