<section class="cso-defence-requests">
<table>
  <thead>
    <tr>
      <th>Detainee</th>
      <th>Status</th>
      <th>Firm</th>
      <th>Requested</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% requests.each_with_index do |dr,i| %>
      <%= content_tag_for(:tr, dr, class: "dashboard-dr #{cycle("", "grey")} clickable-row", "data-link": defence_request_path(dr)) do %>
        <td class="detainee">
          <%= render "detainee", dr: dr %>
        </td>
        <td class="status">
          <%= render "status", dr: dr %>
        </td>
        <td class="firm">
          <%= render "firm", dr: dr %>
        </td>
        <td class="requested">
          <p><%= dr.created_at.strftime("%H:%M") %></p>
          <p><%= day_text(dr) %></p>
        </td>
        <td class="actions"><%= link_to "<i class=\"icon-angle-right\"></i>".html_safe, defence_request_path(dr) %></td>
      <% end %>
      <tr class="separator">
        <td colspan="5">&nbsp;</td>
      </tr>
    <% end %>
  </tbody>
</table>

</section>
