<% if dr.firm_name %>
  <p class="name"><%= dr.firm_name %></p>
  <p class="tel"><%= dr.firm_tel %></p>
  <% if dr.solicitor_time_of_arrival %>
    <div class="arrival">
      <p class="arriving-text"><%= arriving_text(dr).html_safe %></p>
      <p class="time"><%= dr.solicitor_time_of_arrival.strftime("%H:%M") %></p>
      <p class="date"><%= short_date_formatter(dr.solicitor_time_of_arrival) %></p>
    </div>
  <% end %>
<% else %>
  <p class="pending">Pending</p>
<% end %>
