<% content_for :javascript_includes do %>
  <%= javascript_include_tag "dashboard_poller" unless Settings.dsds.dashboard_refresh_disabled %>
<% end %>

<%= flash_messages %>

<% if check_policy_clause(@policy, :new?) %>
  <div class="new_defence_request">
    <%= link_to t("new_request"), new_defence_request_path, role: "button", class: "button" %>
  </div>
<% end %>

<%= render 'tabs' %>

<%= render "dashboard", requests: @dashboard.visible_requests %>
