<section class="cso-defence-requests">
<table>
  <thead>
    <tr>
      <th>Detainee</th>
      <th>Status</th>
      <th>Firm</th>
      <th>Requested</th>
    </tr>
  </thead>

  <tbody>
    <% requests.each_with_index do |dr,i| %>
      <%= content_tag_for(:tr, dr, class: "cso-dashboard-dr #{cycle("", "grey")}") do %>
        <td class="detainee">
          <div class="detainee-container">
            <p class="name"><%= dr.detainee_name %></p>
            <p class="custody-number"><%= dr.custody_number %></p>
          </div>
        </td>
        <td class="status">
          <p class="state"><%= state_text(dr).html_safe %></p>
          <p class="dscc-number"><%= dr.dscc_number if dr.dscc_number %></p>
          <% if dr.interview_start_time %>
            <div class="interview">
              <p class="interview-text">Interview</p>
              <p class="time"><%= dr.interview_start_time.strftime("%H:%M") %></p>
              <p class="date"><%= short_date_formatter(dr.interview_start_time) %></p>
            </div>
          <% end %>
        </td>
        <td class="firm">
          <% if dr.firm_name %>
            <p class="name"><%= dr.firm_name %></p>
            <p class="tel"><%= dr.firm_tel %></p>
            <% if dr.solicitor_time_of_arrival %>
              <div class="arrival">
                <p class="arriving-text"><%= arriving_text(dr).html_safe %></p>
                <p class="time"><%= dr.solicitor_time_of_arrival.strftime("%H:%M") %></p>
                <p class="date"><%= short_date_formatter(dr.solicitor_time_of_arrival) %></p>
              </div>
            <% end %>
          <% else %>
            <p class="pending">Pending</p>
          <% end %>
        </td>
        <td class="requested">
          <p><%= dr.created_at.strftime("%H:%M") %></p>
          <p><%= day_text(dr) %></p>
        </td>
        <td class="actions"><%= link_to "&#x276D".html_safe, defence_request_path(dr) %></td>
      <% end %>
      <tr class="seperator"></tr>
    <% end %>
  </tbody>
</table>

</section>
