<% requests.each_with_index do |def_req, ind| %>
  <%= content_tag_for(:tr, def_req) do %>
    <th scope="row"><%= ind %></th>
    <td><%= def_req.solicitor_type %></td>
    <td><%= def_req.solicitor_name %></td>
    <td><%= def_req.solicitor_firm %></td>
    <td><%= def_req.scheme %></td>
    <td><%= def_req.phone_number %></td>
    <td><%= def_req.detainee_name %></td>
    <td><%= def_req.gender %></td>
    <td><%= def_req.adult %></td>
    <td><%= def_req.appropriate_adult %></td>
    <td><%= def_req.custody_number %></td>
    <td><%= def_req.allegations %></td>
    <td><%= def_req.comments %></td>
    <td><%= def_req.time_of_arrival %></td>
    <td class='actions'><%= render 'actions', def_req: def_req %></td>
    </td>
  <% end %>
<% end %>
