<%= render 'shared/flash_messages' %>
<%= render 'shared/error_messages', object: @defence_request %>

<% if @defence_request.new_record? %>
  <%= render 'solicitor_search' %>
<% end %>

<%= form_for(@defence_request) do |f| %>
  <% if @defence_request.new_record? %>
    <div class="form-group">
      <fieldset class="inline">
        <label class="block-label" for="defence_request_solicitor_type_duty">
          <%= f.radio_button :solicitor_type, :duty, name: 'defence_request[solicitor_type]', class: 'solicitor_type_radio', checked: true %>
          <%= t('duty') %>
        </label>
        <label class="block-label" for="defence_request_solicitor_type_own">
          <%= f.radio_button :solicitor_type, :own, name: 'defence_request[solicitor_type]', class: 'solicitor_type_radio' %>
          <%= t('own') %>
        </label>
      </fieldset>
    </div>
  <% end %>
  <!-- details -->
  <div class="form-group details">
    <label class="form-label-bold" for="solicitor-name">Solicitor Details</label>
    <%= f.text_field :solicitor_name, label: t('solicitor_name'), autofocus: true, class: 'form-control' %>
    <%= f.text_field :solicitor_firm, label: t('solicitor_firm'), class: 'form-control' %>
    <%= f.text_field :solicitor_email, type: :hidden %>
    <%= f.label :scheme, t('scheme'), class: 'form-label-bold' %>
    <%= f.select :scheme, solicitor_schemes, class: 'form-control' %>
    <%= f.text_field :phone_number, label: t('phone_number'), class: 'form-control' %>
    <%= f.text_field :custody_number, label: t('custody_number'), class: 'form-control' %>
    <%= f.text_field :allegations, label: t('allegations'), class: 'form-control' %>
    <% if policy(@defence_request).interview_start_time_edit? %>
      <%= f.label :interview_start_time, t('interview_start_time'), class: 'form-label-bold' %>
      <fieldset class="inline time-select">
        <%= f.time_select :interview_start_time %>
      </fieldset>
    <% end %>
    <%= f.label :time_of_arrival, t('time_of_arrival'), class: 'form-label-bold' %>
    <fieldset class="inline time-select">
      <%= f.time_select(:time_of_arrival) %>
    </fieldset>
  </div>

  <!-- detainee -->
  <div class="form-group detainee">
    <label class="form-label-bold" for="solicitor-name"><%= t('detainee') %></label>
    <%= f.text_field :detainee_name, label: t('detainee_name'), class: 'form-control' %>
    <fieldset class="inline">
      <label class="block-label" for="defence_request_gender_male">
        <%= f.radio_button :gender, :male, name: 'defence_request[gender]', class: 'solicitor_gender_radio', checked: true %>
        <%= t('male') %>
      </label>
      <label class="block-label" for="defence_request_gender_female">
        <%= f.radio_button :gender, :female, name: 'defence_request[gender]', class: 'solicitor_gender_radio' %>
        <%= t('female') %>
      </label>
    </fieldset>
    <fieldset>
      <label class="block-label" for="adult">
        <%= f.check_box :adult %>
        <%= t('adult') %>
      </label>
    </fieldset>
    <%= f.label :date_of_birth, t('date_of_birth'), class: 'form-label-bold' %>
    <fieldset class="inline time-select">
      <%= f.date_select :date_of_birth,
                        {start_year: Date.today.year, end_year: 120.years.ago.year},
                        {class: 'time-select'} %>
    </fieldset>
    <fieldset>
      <label class="block-label" for="appropriate_adult">
        <%= f.check_box :appropriate_adult %>
        <%= t('appropriate_adult') %>
      </label>
    </fieldset>
  </div>

  <!-- comments -->
  <div class="form-group">
    <label class="form-label-bold" for="solicitor-name">Detainee Details</label>
    <%= f.text_area :comments, label: t('comments'), rows: '5' %>
  </div>

  <%- if policy(@defence_request).dscc_number_edit? %>
    <!-- dscc_number -->
    <div class="form-group">
      <label class="form-label-bold" for="solicitor-name"><%= t('dscc_number') %></label>
      <%= f.label :dscc_number, t('dscc_number'), class: 'form-label-bold' %>
      <%= f.text_field :dscc_number, class: 'form-control', readonly: !policy(@defence_request).dscc_number_edit? %>
    </div>
  <%- end %>

  <%= f.submit class: 'button' %>
  <%= f.submit(t('update_and_accept'), class: 'button small') if policy(@defence_request).dscc_number_edit? %>


  <% if @defence_request.new_record? %>
    <%= link_to t('cancel'), defence_requests_path %>
  <% else %>
    <%= link_to t('cancel'), defence_requests_path %>
    <%= link_to t('close'), close_defence_request_path(@defence_request) if policy(@defence_request).close? %>
  <% end %>

<% end %>

