<%= form_for @defence_request_form, as: :defence_request do |f| %>
  <%= render('defence_requests/form_partials/solicitor_request', f: f) if @defence_request_form.defence_request.new_record? %>

  <div id='main-form-body' <%= "class=hidden" if @defence_request_form.defence_request.new_record?%>>
    <!-- details -->
    <div class='solicitor-details' <%= "class=hidden" if @defence_request_form.defence_request.new_record? %>>
      <h3><%= t('solicitor_details') %></h3>
      <div class="details">
        <div class="">
          <%= f.label :solicitor_name, t('full_name')%>
          <%= f.text_field :solicitor_name, class: 'text-field text-field-wide' %>
        </div>

        <div class="form-group">
          <%= f.label :solicitor_firm, t('name_of_firm')%>
          <%= f.text_field :solicitor_firm, class: 'text-field text-field-wide' %>
        </div>

        <%= f.fields_for :solicitor, @defence_request_form.fields[:solicitor], type: :hidden do |t| %>
          <%= t.text_field :email, type: :hidden %>
        <% end %>

        <div class="form-group">
          <%= f.label :phone_number, t('telephone_number') %>
          <%= f.text_field :phone_number, class: 'text-field text-field-wide' %>
        </div>

        <div class="form-group">
          <fieldset class="inline time-select">
            <label for>
              <%= f.label :solicitor_time_of_arrival, t('solicitor_time_of_arrival'), class: 'form-label-bold' %>
              <span class='hint block'><%= t('date_time_hint') %></span>
            </label>

            <%= f.fields_for :solicitor_time_of_arrival, @defence_request_form.fields[:solicitor_time_of_arrival] do |t| %>
              <div class="date-field-wrapper">
                <%= t.label t('day') %>
                <%= t.text_field :day, size: 2, placeholder: 'DD', class: 'day text-field' %>
              </div>
              <div class="date-field-wrapper">
                <%= t.label t('month') %>
                <%= t.text_field :month, size: 2, placeholder: 'MM', class: 'month text-field' %>
              </div>
              <div class="date-field-wrapper">
                <%= t.label t('year') %>
                <%= t.text_field :year, size: 4, placeholder: 'YYYY', class: 'year text-field' %>
              </div>
              <div class="date-field-wrapper">-</div>
              <div class="date-field-wrapper">
                <%= t.label t('hour') %>
                <%= t.text_field :hour, size: 2, placeholder: 'HH', class: 'hour text-field' %>
              </div>
              <div class="date-field-wrapper">
                <%= t.label t('min') %>
                <%= t.text_field :min, size: 2, placeholder: 'MM', class: 'minute text-field' %>
              </div>
            <% end %>
          </fieldset>
        </div>

      </div>
    </div>

    <!-- detainee -->
    <h3><%= t('detainee_details') %></h3>
    <div class="detainee">
      <div class="form-group">
        <%= f.label :detainee_name, t('full_name') %>
        <%= f.text_field :detainee_name, class: 'text-field text-field-wide' %>
      </div>

      <div class="form-group">
        <fieldset class="inline">
          <%= f.label :gender, t('gender') %>
          <label class="block-label" for="defence_request_gender_male">
            <%= f.radio_button :gender, :male, name: 'defence_request[gender]' %>
            <%= t('male') %>
          </label>
          <label class="block-label" for="defence_request_gender_female">
            <%= f.radio_button :gender, :female, name: 'defence_request[gender]' %>
            <%= t('female') %>
          </label>
        </fieldset>
      </div>

      <%= render('defence_requests/form_partials/detainee_date_of_birth', f: f) %>

      <div class="form-group">
        <%= f.label :detainee_age, t('age') %>
        <%= f.text_field :detainee_age, class: 'age text-field'%>
      </div>

      <div class="form-group">
        <fieldset class="inline">
          <%= f.fields_for :appropriate_adult_required, @appropriate_adult_handler do |t| %>
            <%= t.label :appropriate_adult_required, t('appropriate_adult_required') %>
            <label class="block-label" for="defence_request_appropriate_adult_yes">
              <%= t.radio_button :appropriate_adult_required, :yes, name: 'defence_request[appropriate_adult_required]' %>
              <%= t('yes') %>
            </label>
            <label class="block-label" for="defence_request_appropriate_adult_no">
              <%= t.radio_button :appropriate_adult_required, :no, name: 'defence_request[appropriate_adult_required]' %>
              <%= t('no') %>
            </label>
          <% end %>
        </fieldset>
      </div>
    </div>

    <!-- case details -->
    <h3><%= t('case_details') %></h3>
    <div class="case-details">

      <%= render('defence_requests/form_partials/case_time_of_arrival', f: f) %>

      <div class="form-group">
        <%= f.label :allegations, t('allegations') %>
        <%= f.text_field :allegations, class: 'text-field text-field-wide' %>
      </div>

      <div class="form-group hidden" id='scheme-field'>
        <%= f.label :scheme, t('scheme'), class: 'form-label-bold' %>
        <%= f.text_field :scheme, class: 'text-field text-field-wide' %>
      </div>

      <div class="form-group">
        <%= f.label :custody_number, t('custody_number') %>
        <%= f.text_field :custody_number, label: t('custody_number'), class: 'text-field custody-number' %>
      </div>

      <%= render('defence_requests/form_partials/case_interview_start_time', f: f) %>

    </div>

    <div class="form-group">
      <%= f.label :comments, t('comments') %>
      <%= f.text_area :comments, label: t('comments'), rows: '5', class: 'text-field text-field-wide' %>
    </div>

  </div>

  <%= render('defence_requests/form_partials/form_actions', f: f) %>
</div>
<% end %>
