<%= form_for(@defence_request) do |f| %>
  <%= render('defence_requests/form_partials/solicitor_request', f: f) if @defence_request.new_record? %>

  <div id='main-form-body' <%= "class=hidden" if @defence_request.new_record?%>>
    <!-- details -->
    <div class='solicitor-details' <%= "class=hidden" if @defence_request.new_record? %>>
      <h3><%= t('solicitor_details') %></h3>
      <div class="details">
        <div class="">
          <%= f.label :solicitor_name, t('full_name')%>
          <%= f.text_field :solicitor_name, class: 'text-field text-field-wide' %>
        </div>

        <div class="form-group">
          <%= f.label :solicitor_firm, t('name_of_firm')%>
          <%= f.text_field :solicitor_firm, class: 'text-field text-field-wide' %>
        </div>

        <%= f.text_field :solicitor_email, type: :hidden %>

        <div class="form-group">
          <%= f.label :phone_number, t('telephone_number') %>
          <%= f.text_field :phone_number, class: 'text-field text-field-wide' %>
        </div>
        <% if @policy.solicitor_time_of_arrival? %>
        <div class="form-group">
          <%= label :solicitor_time_of_arrival, t('solicitor_time_of_arrival'), class: 'form-label-bold' %>
          <fieldset class="inline time-select">
            <%= datetime_select('defence_request', 'solicitor_time_of_arrival') %>
          </fieldset>
        </div>
        <% end %>
      </div>
    </div>

    <!-- detainee -->
    <h3><%= t('detainee_details') %></h3>
    <div class="detainee">
      <div class="form-group">
        <%= f.label :detainee_name, t('full_name') %>
        <%= f.text_field :detainee_name, class: 'text-field text-field-wide' %>
      </div>

      <div class="form-group">
        <fieldset class="inline">
          <%= f.label :gender, t('gender') %>
          <label class="block-label" for="defence_request_gender_male">
            <%= f.radio_button :gender, :male, name: 'defence_request[gender]' %>
            <%= t('male') %>
          </label>
          <label class="block-label" for="defence_request_gender_female">
            <%= f.radio_button :gender, :female, name: 'defence_request[gender]' %>
            <%= t('female') %>
          </label>
        </fieldset>
      </div>

      <div class="form-group">
        <fieldset class="inline">
          <label for>
            <%= t('detainee_dob') %>
            <span class='hint block'><%= t('date_hint') %></span>
          </label>
          <div class="date-field-wrapper">
            <%= f.label :date_of_birth_day, t('day') %>
            <%= f.text_field :date_of_birth_day, class: 'day text-field'%>
          </div>
          <div class="date-field-wrapper">
            <%= f.label :date_of_birth_month, t('month') %>
            <%= f.text_field :date_of_birth_month, class: 'month text-field'%>
          </div>
          <div class="date-field-wrapper">
            <%= f.label :date_of_birth_year, t('year') %>
            <%= f.text_field :date_of_birth_year, class: 'year text-field'%>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <%= f.label :detainee_age, t('age') %>
        <%= f.text_field :detainee_age, class: 'age text-field'%>
      </div>

      <div class="form-group">
        <fieldset class="inline">
          <%= f.label :appropriate_adult, t('appropriate_adult_required') %>
          <label class="block-label" for="defence_request_appropriate_adult_yes">
            <%= f.radio_button :appropriate_adult, :yes, name: 'defence_request[appropriate_adult]' %>
            <%= t('yes') %>
          </label>
          <label class="block-label" for="defence_request_appropriate_adult_no">
            <%= f.radio_button :appropriate_adult, :no, name: 'defence_request[appropriate_adult]' %>
            <%= t('no') %>
          </label>
        </fieldset>
      </div>
    </div>

    <!-- case details -->
    <h3><%= t('case_details') %></h3>
    <div class="case-details">
      <div class="form-group">
        <fieldset class="inline">
          <label for>
            <%= t('time_of_arrival') %>
            <span class='hint block'><%= t('time_hint') %></span>
          </label>
          <div class="date-field-wrapper">
            <%= f.label :time_of_arrival_hour, t('hour') %>
            <%= f.text_field :time_of_arrival_hour, class: 'hour text-field'%>
          </div>
          <div class="date-field-wrapper">
            <%= f.label :time_of_arrival_minute, t('min') %>
            <%= f.text_field :time_of_arrival_minute, class: 'minute text-field'%>
          </div>
        </fieldset>
      </div>

      <div class="form-group">
        <%= f.label :allegations, t('allegations') %>
        <%= f.text_field :allegations, class: 'text-field text-field-wide' %>
      </div>

      <div class="form-group hidden" id='scheme-field'>
        <%= f.label :scheme, t('scheme'), class: 'form-label-bold' %>
        <%= f.text_field :scheme, class: 'text-field text-field-wide' %>
      </div>

      <div class="form-group">
        <%= f.label :custody_number, t('custody_number') %>
        <%= f.text_field :custody_number, label: t('custody_number'), class: 'text-field custody-number' %>
      </div>

      <% if @policy.interview_start_time_edit? %>
        <div class="form-group">
          <%= f.label :interview_start_time, t('interview_start_time'), class: 'form-label-bold' %>
          <fieldset class="inline time-select">
            <%= f.time_select :interview_start_time %>
          </fieldset>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :comments, t('comments') %>
        <%= f.text_area :comments, label: t('comments'), rows: '5', class: 'text-field text-field-wide' %>
      </div>

      <%- if @policy.dscc_number_edit? %>
        <div class="form-group">
          <%= f.label :dscc_number, t('dscc_number'), class: 'form-label-bold' %>
          <%= f.text_field :dscc_number, readonly: !@policy.dscc_number_edit?, class: 'text-field text-field-wide' %>
        </div>
      <%- end %>
    </div>

    <%= render('defence_requests/form_partials/form_actions', f: f) %>
  </div>
<% end %>
