<section class="defence-requests">
  <ul>
    <% requests.each do |dr| %>
        <li>
          <div class="defence-request-box">
            <a href="<%= defence_request_path(dr) %>" title="<%= t('case_details_for', dscc: dr.dscc_number) %>" class="detail-link"></a>
            <dl>
              <dt class="visuallyhidden"><%= t('time_of_arrival') %></dt>
              <dd class="time-of-arrival"><%= dr.time_of_arrival.to_s(:time) %></dd>

              <dt class="visuallyhidden"><%= t('detainee_name') %></dt>
              <dd class="name"><%= dr.detainee_name %></dd>

              <dt class="visuallyhidden"><%= t('offences') %></dt>
              <dd class="offences"><%= dr.offences %></dd>

              <dt class="visuallyhidden"><%= t('dscc_number') %></dt>
              <dd class="dscc"><%= dr.dscc_number %></dd>
            </dl>
            <% if dr.interview_start_time %>
                <dl class="time-field">
                  <dt><%= t('interview_at') %></dt>
                  <dd><%= dr.interview_start_time.to_s(:time) %></dd>
                </dl>
            <% end %>
            <% if dr.solicitor_time_of_arrival %>
                <dl class="time-field">
                  <dt><%= t('arriving_at') %></dt>
                  <dd><%= dr.solicitor_time_of_arrival.to_s(:time) %></dd>
                </dl>
            <% end %>
          </div>
        </li>
    <% end %>
  </ul>
</section>
