<%= render 'shared/error_and_flash', object: @defence_request %>

<h1>Abort the Defence Request</h1>
<%= form_for @defence_request, url: reason_aborted_defence_request_path, method: :patch do |f| %>
  <div class="form-group">
    <fieldset>
      <%= f.label :transition_info, t("reason_aborted") %>
      <%= f.text_area :transition_info, rows: '10', class: 'text-field text-field-wide' %>
    </fieldset>
  </div>
  <%= f.submit(t('abort')) %>
<% end %>
