<%= render 'shared/error_and_flash', object: @defence_request %>

<h1>Close the Defence Request</h1>
<%= form_for @defence_request, url: close_feedback_defence_request_path, method: :patch do |f| %>
  <div class="form-group">
    <fieldset>
      <%= f.label :feedback, t('feedback') %>
      <%= f.text_area :feedback, rows: '10', class: 'text-field text-field-wide' %>
    </fieldset>
  </div>
  <%= f.submit(t('close')) %>
<% end %>
