<%= render 'shared/flash_messages' %>
<h1><%= "#{t(current_user.role)}  #{t('dashboard')}" %></h1>
<% if policy(:defence_request).create? %>
  <div class="new_defence_request">
    <%= link_to t('new_defence_request'), new_defence_request_path, role: 'button', class: 'button' %>
  </div>
<% end %>
<table class="dashboard">
  <%= render 'defence_requests_table_head' %>
  <tbody>
    <% if policy(:defence_request).index? %>
      <%= render 'defence_requests_table_body', requests: @draft_requests, type: 'draft' %>
      <%= render 'defence_requests_table_body', requests: @queued_requests, type: 'queued' %>
      <%= render 'defence_requests_table_body', requests: @acknowledged_requests, type: 'acknowledged' %>
      <%= render 'defence_requests_table_body', requests: @accepted_requests, type: 'accepted' %>
    <% end %>
  </tbody>
</table>
