<%= render partial: 'shared/flash_messages' %>
<h1><%= "#{t(current_user.role)}  #{t('dashboard')}" %></h1>
<% if policy(:defence_request).create? %>
  <div class="new_defence_request">
    <%= link_to t('new_defence_request'), new_defence_request_path, class: 'btn btn-default' %>
  </div>
<% end %>
<div class="dashboard">
  <div class="fullwidth">
    <% if policy(:defence_request).index? %>
      <h3 class="dashboard"><%= t('new_defence_requests') %></h3>
      <table class="new_defence_requests">
        <%= render 'defence_requests_table_head' %>
        <tbody>
        <%= render 'defence_requests_table_body', requests: @new_requests %>
        </tbody>
      </table>
    <% end %>

    <% if policy(:defence_request).dashboard_view? %>
      <% if policy(:defence_request).index? %>
        <h3 class="dashboard"><%= t('open_defence_request') %></h3>
        <table class="open_defence_requests">
          <%= render 'defence_requests_table_head' %>
          <tbody>
          <%= render 'defence_requests_table_body', requests: @open_requests %>
          </tbody>
        </table>
      <% end %>
    <% end %>

    <% if policy(:defence_request).dashboard_view? %>
      <% if policy(:defence_request).index? %>
        <h3 class="dashboard"><%= t('accepted_defence_request') %></h3>
        <table class="accepted_defence_requests">
          <%= render 'defence_requests_table_head' %>
          <tbody>
          <%= render 'defence_requests_table_body', requests: @accepted_requests %>
          </tbody>
        </table>
      <% end %>
    <% end %>
  </div>
</div>
