<div class="row">
  <h1><%= "#{pundit_user.role.upcase}  #{t('dashboard')}"%></h1>
</div>

<% if pundit_user.cso? %>
<div class="row new_defence_request">
  <%= link_to t('new_defence_request'), new_defence_request_path, class: 'btn btn-default' %>
</div>
<% end %>

<div class="row">
  <table class="table table-striped table-bordered defence_requests">
    <colgroup>
      <col>
      <col span="5" style="background-color: #e9fffa">
      <col span="6" style="background-color: #e1ffde">
    </colgroup>
    <thead>
    <tr>
      <th>#</th>
      <th><%= t('solicitor_type') %></th>
      <th><%= t('solicitor_name') %></th>
      <th><%= t('solicitor_firm') %></th>
      <th><%= t('scheme') %></th>
      <th><%= t('phone_number') %></th>
      <th><%= t('detainee_surname') %></th>
      <th><%= t('detainee_first_name') %></th>
      <th><%= t('gender') %></th>
      <th><%= t('adult') %></th>
      <th><%= t('date_of_birth') %></th>
      <th><%= t('appropriate_adult') %></th>
      <th><%= t('custody_number') %></th>
      <th><%= t('allegations') %></th>
      <th><%= t('comments') %></th>
      <th><%= t('time_of_arrival') %></th>
    </tr>
    </thead>
    <tbody>
    <% @defence_requests.each_with_index do |def_req, ind| %>
      <colgroup>
        <col>
        <col span="5" style="background-color: #e9fffa">
        <col span="6" style="background-color: #e1ffde">
      </colgroup>
      <tr>
        <th scope="row"><%= ind %></th>
        <td><%= def_req.solicitor_type %></td>
        <td><%= def_req.solicitor_name %></td>
        <td><%= def_req.solicitor_firm %></td>
        <td><%= def_req.scheme %></td>
        <td><%= def_req.phone_number %></td>
        <td><%= def_req.detainee_surname %></td>
        <td><%= def_req.detainee_first_name %></td>
        <td><%= def_req.gender %></td>
        <td><%= def_req.adult %></td>
        <td><%= def_req.date_of_birth %></td>
        <td><%= def_req.appropriate_adult %></td>
        <td><%= def_req.custody_number %></td>
        <td><%= def_req.allegations %></td>
        <td><%= def_req.comments %></td>
        <td><%= def_req.time_of_arrival %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
