<%= render partial: 'shared/flash' %>
<h1><%= "#{t(current_user.role)}  #{t('dashboard')}" %></h1>

<% if policy(:defence_request).create? %>
  <div class="new_defence_request">
    <%= link_to t('new_defence_request'), new_defence_request_path, class: 'btn btn-default' %>
  </div>
<% end %>

<% if policy(:defence_request).dashboard_view? %>
  <% if policy(:defence_request).index? %>
    <h3><%= t('new_defence_requests') %></h3>
    <table class="new_defence_requests">
      <%= render 'defence_requests_table_head' %>
      <tbody>
      <%= render 'defence_requests_table_body', requests: @new_requests %>
      </tbody>
    </table>
  <% end %>

  <h3><%= t('open_defence_request') %></h3>
  <table class="open_defence_requests">
    <%= render 'defence_requests_table_head' %>
    <tbody>
    <%= render 'defence_requests_table_body', requests: @open_requests %>
    </tbody>
  </table>
  </div>
<% end %>

<script>
  $(document).ready(function () {
    setInterval(refreshPartial, <%= Settings.dsds.dashboard_refresh_seconds %>);
  });
</script>
