<div class="row">
  <h1><%= "#{current_user.role.upcase}  #{t('dashboard')}"%></h1>
</div>

<% if policy(:defence_requests_controller).create? %>
<div class="row new_defence_request">
  <%= link_to t('new_defence_request'), new_defence_request_path, class: 'btn btn-default' %>
</div>
<% end %>

<div class="row">
  <table class="table table-striped table-bordered defence_requests">
    <thead>
    <tr>
      <th>#</th>
      <th><%= t('solicitor_type') %></th>
      <th><%= t('solicitor_name') %></th>
      <th><%= t('solicitor_firm') %></th>
      <th><%= t('scheme') %></th>
      <th><%= t('phone_number') %></th>
      <th><%= t('detainee_surname') %></th>
      <th><%= t('detainee_first_name') %></th>
      <th><%= t('gender') %></th>
      <th><%= t('adult') %></th>
      <th><%= t('date_of_birth') %></th>
      <th><%= t('appropriate_adult') %></th>
      <th><%= t('custody_number') %></th>
      <th><%= t('allegations') %></th>
      <th><%= t('comments') %></th>
      <th><%= t('time_of_arrival') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'table_body' %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    setInterval(refreshPartial, 3000);
  });

  // calls action refreshing the partial
  function refreshPartial() {
    $.ajax({
      url: "defence_requests/refresh_dashboard"
    })
  }

</script>
