<%= render "shared/error_and_flash", object: @defence_request_form %>

<%= link_to t("back_to_requests"), dashboard_path %>

<h1 class="detainee"><%= not_given_formatter(@defence_request, :detainee_name, "name_not_given") %></h1>
<% if @defence_request.dscc_number %>
  <h2 class="dscc"><%= t("dscc") %>: <%= @defence_request.dscc_number %></h2>
<% end %>

<% if @defence_request.aborted? %>
  <h1><%= t("case_aborted") %></h1>
  <p><%= @defence_request.reason_aborted %></p>
  <p><%= t("call_call_center") if user_has_role?("solicitor") %></p>
<% end %>

<dl class="labels">
  <%= display_value "gender", t(@defence_request.gender, default: t(:not_given)) %>
  <%= display_value "date_of_birth", date_not_given_formatter(@defence_request, :date_of_birth) %>
  <%= display_value "detainee_address", not_given_formatter(@defence_request, :detainee_address) %>
</dl>

<%= content_tag("div", class: "js-tabs", id: "edit-tabs", data: { activatefirst: "true" }) do %>
  <ul class="cf tabs js-tabs-nav js-only">
    <li>
      <a href="#interview">Interview</a>
    </li>
    <li>
      <a href="#case-details"><%= t("detention_details") %></a>
    </li>
    <li class="filler">
    </li>
  </ul>
  <div class="js-tabs-content">
    <div id="interview">
      <%= render "defence_requests/show_partials/interview_tab" %>
    </div>
    <div id="case-details">
      <%= render "defence_requests/show_partials/case_details_tab" %>
    </div>
  </div>
<% end %>
