<%= render 'shared/error_and_flash', object: @defence_request_form %>

<div class="inner group">
  <%= link_to t('dashboard'), dashboard_path %>

  <%= render 'defence_requests/show_partials/aborted' %>

  <%= content_tag("div", class: "js-tabs", id: "edit-tabs", data: { activatefirst: 'true' }) do %>
    <ul class="cf tabs js-tabs-nav">
      <li>
        <a href="#case-details">Case Details</a>
      </li>
      <li>
        <a href="#interview">Interview</a>
      </li>
      <li class="filler">
      </li>
    </ul>
    <div class="js-tabs-content">
      <div id="case-details">
        <%= render 'defence_requests/show_partials/case_details_tab' %>
      </div>
      <div id="interview">
        <%= render 'defence_requests/show_partials/interview_tab' %>
      </div>
    </div>
  <% end %>
</div>
