<%= render partial: 'shared/flash_messages' %>
<div class="inner group">
  <br/>
  <%= link_to t('dashboard'), defence_requests_path %>
  <% if @defence_request.feedback? %>
    <h1><%= t('case_closed') %></h1>

    <p><%= @defence_request.feedback %></p>

    <p><%= t('call_call_center') %></p>
  <% else %>
    <h1><%= t('case_details') %></h1>
    <table>
      <tbody>
      <tr>
        <td><%= t('solicitor_name') %></td>
        <td><%= @defence_request.solicitor_name %></td>
      </tr>
      <tr>
        <td><%= t('solicitor_firm') %></td>
        <td><%= @defence_request.solicitor_firm %></td>
      </tr>
      <tr>
        <td><%= t('phone_number') %></td>
        <td><%= @defence_request.phone_number %></td>
      </tr>
      <tr>
        <td><%= t('detainee_name') %></td>
        <td><%= @defence_request.detainee_name %></td>
      </tr>
      <tr>
        <td><%= t('gender') %></td>
        <td><%= @defence_request.gender %></td>
      </tr>
      <tr>
        <td><%= t('date_of_birth') %></td>
        <td><%= date_formatter(@defence_request.date_of_birth) %></td>
      </tr>
      <tr>
        <td><%= t('custody_number') %></td>
        <td><%= @defence_request.custody_number %></td>
      </tr>
      <tr>
        <td><%= t('allegations') %></td>
        <td><%= @defence_request.allegations %></td>
      </tr>
      <tr>
        <td><%= t('time_of_arrival') %></td>
        <td><%= date_and_time_formatter(@defence_request.time_of_arrival) %></td>
      </tr>
      <tr>
        <td><%= t('comments') %></td>
        <td><%= @defence_request.comments %></td>
      </tr>
      <tr>
        <td><%= t('dscc_number') %></td>
        <td><%= @defence_request.dscc_number %></td>
      </tr>
      <tr>
        <td><%= t('interview_start_time') %></td>
        <td><%= date_and_time_formatter(@defence_request.interview_start_time) %></td>
      </tr>
      <tr>
        <td><%= t('solicitor_name') %></td>
        <td><%= @defence_request.solicitor_name %></td>
      </tr>
      <tr class="solicitor-time-of-arrival">
        <td><%= t('solicitor_time_of_arrival') %></td>
        <td><%= date_and_time_formatter(@defence_request.solicitor_time_of_arrival) %></td>
      </tr>
      </tbody>
    </table>
    <br/>
    <% if @policy.solicitor_time_of_arrival_from_show? %>
      <div class="time-of-arrival">
        <%= form_for(@defence_request, url: solicitor_time_of_arrival_defence_request_path, method: :patch) do |f| %>
          <%= f.label :solicitor_time_of_arrival, t('solicitor_time_of_arrival'), class: 'form-label-bold' %>
          <fieldset class="inline time-select">
            <%= f.fields_for :solicitor_time_of_arrival, @defence_request.solicitor_time_of_arrival do |t| %>
              <%= t.text_field :day, size: 2, placeholder: 'DD' %> /
              <%= t.text_field :month, size: 2, placeholder: 'MM' %> /
              <%= t.text_field :year, size: 4, placeholder: 'YYYY' %> -
              <%= t.text_field :hour, size: 2, placeholder: 'HH' %> :
              <%= t.text_field :min, size: 2, placeholder: 'MM' %>
            <% end %>
          </fieldset>
          <%= f.submit(t('add_expected_time_of_arrival'), class: 'button') %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
