<%= render 'shared/error_and_flash', object: @defence_request_form  %>

<div class="inner group">
  <br/>
  <%= link_to t('dashboard'), defence_requests_path %>
  <% if @defence_request.aborted? %>
    <h1><%= t('case_aborted') %></h1>

    <p><%= @defence_request.reason_aborted %></p>

    <% if @current_user.solicitor? %>
      <p><%= t('call_call_center') %></p>
    <% end %>
  <% else %>
    <h1><%= t('case_details') %></h1>
  <% end %>
  <table>
    <tbody>
    <tr>
      <td><%= t('solicitor_name') %></td>
      <td><%= @defence_request.solicitor_name %></td>
    </tr>
    <tr>
      <td><%= t('solicitor_firm') %></td>
      <td><%= @defence_request.solicitor_firm %></td>
    </tr>
    <tr>
      <td><%= t('phone_number') %></td>
      <td><%= @defence_request.phone_number %></td>
    </tr>
    <tr>
      <td><%= t('detainee_name') %></td>
      <td><%= @defence_request.detainee_name %></td>
    </tr>
    <tr>
      <td><%= t('gender') %></td>
      <td><%= @defence_request.gender %></td>
    </tr>
    <tr>
      <td><%= t('date_of_birth') %></td>
      <td><%= date_formatter(@defence_request.date_of_birth) %></td>
    </tr>
    <tr>
      <td><%= t('appropriate_adult_required') %></td>
      <td><%= boolean_formatter(@defence_request.appropriate_adult) %></td>
    </tr>
    <tr>
      <td><%= t('appropriate_adult_reason') %></td>
      <td><%= @defence_request.appropriate_adult_reason %></td>
    </tr>
    <tr>
      <td><%= t('house_name') %></td>
      <td><%= @defence_request.house_name %></td>
    </tr>
    <tr>
      <td><%= t('address_1') %></td>
      <td><%= @defence_request.address_1 %></td>
    </tr>
    <tr>
      <td><%= t('address_2') %></td>
      <td><%= @defence_request.address_2 %></td>
    </tr>
    <tr>
      <td><%= t('city') %></td>
      <td><%= @defence_request.city %></td>
    </tr>
    <tr>
      <td><%= t('county') %></td>
      <td><%= @defence_request.county %></td>
    </tr>
    <tr>
      <td><%= t('postcode') %></td>
      <td><%= @defence_request.postcode %></td>
    </tr>
    <tr>
      <td><%= t('custody_number') %></td>
      <td><%= @defence_request.custody_number %></td>
    </tr>
    <tr>
      <td><%= t('custody_address') %></td>
      <td><%= @defence_request.custody_address %></td>
    </tr>
    <tr>
      <td><%= t('offences') %></td>
      <td><%= @defence_request.offences %></td>
    </tr>
    <tr>
      <td><%= t('circumstances_of_arrest') %></td>
      <td><%= @defence_request.circumstances_of_arrest %></td>
    </tr>
    <tr>
      <td><%= t('fit_for_interview') %></td>
      <td><%= boolean_formatter(@defence_request.fit_for_interview) %></td>
    </tr>
    <tr>
      <td><%= t('unfit_for_interview_reason') %></td>
      <td><%= @defence_request.unfit_for_interview_reason %></td>
    </tr>
    <tr>
      <td><%= t('investigating_officer_name') %></td>
      <td><%= @defence_request.investigating_officer_name %></td>
    </tr>
    <tr>
      <td><%= t('investigating_officer_shoulder_number') %></td>
      <td><%= @defence_request.investigating_officer_shoulder_number %></td>
    </tr>
    <tr>
      <td><%= t('investigating_officer_contact_number') %></td>
      <td><%= @defence_request.investigating_officer_contact_number %></td>
    </tr>
    <tr>
      <td><%= t('time_of_arrest') %></td>
      <td><%= date_and_time_formatter(@defence_request.time_of_arrest) %></td>
    </tr>
    <tr>
      <td><%= t('time_of_arrival') %></td>
      <td><%= date_and_time_formatter(@defence_request.time_of_arrival) %></td>
    </tr>
    <tr>
      <td><%= t('time_of_detention_authorised') %></td>
      <td><%= date_and_time_formatter(@defence_request.time_of_detention_authorised) %></td>
    </tr>
    <tr>
      <td><%= t('comments') %></td>
      <td><%= @defence_request.comments %></td>
    </tr>
    <tr>
      <td><%= t('dscc_number') %></td>
      <td><%= @defence_request.dscc_number %></td>
    </tr>
    <tr>
      <td><%= t('interview_start_time') %></td>
      <td><%= date_and_time_formatter(@defence_request.interview_start_time) %></td>
    </tr>
    <tr>
      <td><%= t('solicitor_name') %></td>
      <td><%= @defence_request.solicitor_name %></td>
    </tr>
    <tr class="solicitor-time-of-arrival">
      <td><%= t('solicitor_time_of_arrival') %></td>
      <td><%= date_and_time_formatter(@defence_request.solicitor_time_of_arrival) %></td>
    </tr>
    </tbody>
  </table>
  <br/>
  <% if @policy.solicitor_time_of_arrival_from_show? %>
    <div class="time-of-arrival">
      <%= form_for(@defence_request, url: solicitor_time_of_arrival_defence_request_path, method: :patch) do |f| %>
        <%= render('defence_requests/form_partials/solicitor_time_of_arrival', f: f) if @policy.solicitor_time_of_arrival_from_show? %>
        <%= f.submit(t('add_expected_time_of_arrival'), class: 'button') %>
      <% end %>
    </div>
  <% end %>
</div>
