$('.solicitor-results-list').html(
  "<a href='#' class='button close-search btn-solicitor-results-close' role='button' >Close</a>\
  <table> \
  <thead>\
  <tr>\
  <th scope='col'><%= t('full_name') %></th>\
  <th scope='col'><%= t('name_of_firm') %></th>\
  <th class='numeric' scope='col'><%= t('telephone_number') %></th>\
  <th class='numeric' scope='col'><%= t('email') %></th>\
  </tr>\
  </thead>\
  <tbody class='results-body'>  \
  </tbody>\
  </table>"
);

$('.btn-solicitor-results-close').bind('click', function() {
  $('.solicitor-results-list').html('');
});

<% if @solicitors.empty? %>
  $('.solicitor-results-list').html("<h2><%= t('no_results_found') %></h2>");
<% end %>

<% @solicitors.each do |solicitor| %>
  $('.results-body').append(
      "<tr>\
      <td><a href='#' class='list-group-item solicitor-result' id=<%= solicitor_id solicitor %>><%= solicitor['name'] %></a></td>\
      <td><%= solicitor['firm_name'] %></td>\
      <td><%= solicitor['mobile'] %></td>\
      <td><%= solicitor['email'] %></td>\
      </tr>"
  );

  $('#<%= solicitor_id solicitor %>').click(function(e) {
    e.preventDefault();
    $('.solicitor-results-list').html('');
    $('#defence_request_solicitor_name').val('<%== j solicitor['name'] %>')
    $('#defence_request_solicitor_firm').val('<%== j solicitor['firm_name'] %>')
    $('#defence_request_solicitor_email').val('<%= solicitor['email'] %>')
    $('#defence_request_phone_number').val('<%= solicitor['mobile'] %>')
  });
<% end %>
