<% show_label = local_assigns.fetch(:show_label, false) %>
<% hint_label = local_assigns.fetch(:hint_label, false) %>
<% optional = local_assigns.fetch(:optional, false) %>
<% initial_date_index = local_assigns.fetch(:initial_date_index, false) %>
<% date_value = @defence_request.send(attribute) || initial_date_index && dates[initial_date_index].date %>

<div class="form-group">
  <fieldset class="inline time-select date-chooser">
    <%- if show_label %>
      <label for>
        <%= f.label attribute, label_text_for_form(attribute_name: attribute, optional: optional), class: 'form-label-bold' %>
      </label>
        <%- if hint_label %>
          <span class='hint block'><%= t(hint_label) %></span>
        <%- end %>
        <span class='hint block'><%= t('time_hint') %></span>
    <%- end %>
    <%= f.fields_for attribute, @defence_request_form.fields[attribute] do |t| %>
      <div class="date-field-wrapper">
        <%= t.label :hour, t('hour'), class: "form-label" %>
        <%= t.text_field :hour, size: 2, maxlength: 2, class: 'hour text-field' %>
      </div>
      <div class="date-field-wrapper">
        <%= t.label :min, t('min'), class: "form-label" %>
        <%= t.text_field :min, size: 2, maxlength: 2, class: 'minute text-field' %>
      </div>
      <div class="date-field-wrapper">-</div>
      <div class="date-field-wrapper date-chooser-values">
        <label class="date-chooser-select form-label js-only" data-initial-date-index="<%= initial_date_index %>">
          <% dates.each do |date| %>
            <span class="date-chooser-link" data-date-display="<%= date.date.to_s :full %>"><%= t(date.name) %></span>
          <% end%>
        </label>
        <!--[if IE 6]>
        <%= t.label :date, t('date'), class: "form-label" %>
        <![endif]-->
        <%= t.text_field :date, class: "date text-field", value: date_formatter(date_value) %>
      </div>
    <% end %>
  </fieldset>
</div>
