<% today, tomorrow, initial_date, initial_date_type = data_chooser_setup(@defence_request.send(attribute), set_default_date) %>
<div class="form-group">
  <fieldset class="inline time-select date-chooser">
    <% if show_label %>
      <label for>
        <%= f.label attribute, t(attribute.to_s), class: 'form-label-bold' %>
      </label>
    <% end %>
    <%= f.fields_for attribute, @defence_request_form.fields[attribute] do |t| %>
      <div class="date-field-wrapper">
        <%= t.label :hour, t('hour'), class: "form-label" %>
        <%= t.text_field :hour, size: 2, placeholder: 'HH', class: 'hour text-field' %>
      </div>
      <div class="date-field-wrapper">
        <%= t.label :min, t('min'), class: "form-label" %>
        <%= t.text_field :min, size: 2, placeholder: 'MM', class: 'minute text-field' %>
      </div>
      <div class="date-field-wrapper">-</div>
      <div class="date-chooser-values">
        <label class="date-chooser-select form-label js-only" data-initial-date="<%= initial_date_type %>">
          <span class="today" data-date-display="<%= today.to_s :full %>" data-day="<%= today.day %>" data-month="<%= today.month %>" data-year="<%= today.year %>"><%= t('today') %></span>
          <span class="tomorrow" data-date-display="<%= tomorrow.to_s :full %>" data-day="<%= tomorrow.day %>" data-month="<%= tomorrow.month %>" data-year="<%= tomorrow.year %>"><%= t('tomorrow') %></span>
        </label>
        <div class="date-field-wrapper">
          <%= t.text_field :date, class: "text-field date", value: date_formatter(initial_date) %>
        </div>
      </div>
    <% end %>
  </fieldset>
</div>
