<header class="page-header group">
  <h1>Defence solicitor requests</h1>
</header>

<section>

  <!-- begin render tabs -->
  <div class="tabs-nav cf">
    <ul class="tabs">
      <li class="tab <%= tab_class(type: :active) %>">
        <%= link_to "Accepted (5)", "#" %>
      </li>
      <li class="tab <%= tab_class(type: :closed) %>">
        <%= link_to "Completed (2)", "#" %>
      </li>
    </ul>
  </div>
  <!-- end render tabs -->


  <!-- begin defence requests -->
  <section class="solicitor-admin-defence-requests">
    <table>
      <thead>
        <tr>
          <th class="detainee">Detainee</th>
          <th>Custody suite</th>
          <th>Solicitor interview</th>
          <th>PACE clock</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <!-- begin defence request -->
        <tr class="dashboard-dr clickable-row" data-link="#">
          <td class="detainee">
            <div class="detainee-container">
              <p class="name">Robert Kapp</p>
              <p class="offences">Failure to reg. on Sex Offender List <span class="more">[+2]</span></p>
              <p class="custody-number">CN: AW201503567</p>
            </div>
          </td>
          <td class="custody-suite">
            <p class="name">Bridewell</p>
            <p class="address">Carrington Street,<br>Nottingham,<br>SE27 9NA<br>02036457861</p>
          </td>
          <td class="solicitor-interview">
            <div class="interview-container">
              <div class="interview not-set">
                <p class="time">&nbsp;</p>
                <p class="date">&nbsp;</p>
              </div>
            </div>
          </td>
          <td class="pace-clock">
            <p>00:45</p>
          </td>
          <td class="actions"><%= link_to "<i class=\"icon-angle-right\"></i>".html_safe, "#" %></td>
        </tr>

        <tr class="separator">
          <td colspan="5">&nbsp;</td>
        </tr>
        <!-- end defence request -->

        <!-- begin defence request -->
        <tr class="dashboard-dr clickable-row grey" data-link="#">
          <td class="detainee">
            <div class="detainee-container">
              <p class="name">
                <span class="vulnerable">V</span>
                Sam Peters
              </p>
              <p class="offences">Possession of a firearm with intent <span class="more">[+3]</span></p>
              <p class="custody-number">CN: AW201503567</p>
            </div>
          </td>
          <td class="custody-suite">
            <p class="name">Maperley</p>
            <p class="address">Station Street,<br>Nottingham,<br>SE27 9NA<br>02036457861</p>
          </td>
          <td class="solicitor-interview">
            <div class="interview-container">
              <div class="interview">
                <p class="time">12:30</p>
                <p class="date">tomorrow</p>
              </div>
            </div>
          </td>
          <td class="pace-clock">
            <p>01:31</p>
          </td>
          <td class="actions"><%= link_to "<i class=\"icon-angle-right\"></i>".html_safe, "#" %></td>
        </tr>

        <tr class="separator">
          <td colspan="5">&nbsp;</td>
        </tr>
        <!-- end defence request -->

        <!-- begin defence request -->
        <tr class="dashboard-dr clickable-row" data-link="#">
          <td class="detainee">
            <div class="detainee-container">
              <p class="name">
                <span class="vulnerable">V</span>
                Robert Christian
              </p>
              <p class="offences">Failure to reg. on Sex Offender List</p>
              <p class="custody-number">CN: AW201503567</p>
            </div>
          </td>
          <td class="custody-suite">
            <p class="name">Bridewell</p>
            <p class="address">Carrington Street,<br>Nottingham,<br>SE27 9NA<br>02036457861</p>
          </td>
          <td class="solicitor-interview">
            <div class="interview-container">
              <div class="interview not-set">
                <p class="time">&nbsp;</p>
                <p class="date">&nbsp;</p>
              </div>
            </div>
          </td>
          <td class="pace-clock">
            <p>03:05</p>
          </td>
          <td class="actions"><%= link_to "<i class=\"icon-angle-right\"></i>".html_safe, "#" %></td>
        </tr>

        <tr class="separator">
          <td colspan="5">&nbsp;</td>
        </tr>
        <!-- end defence request -->

        <!-- begin defence request -->
        <tr class="dashboard-dr clickable-row grey" data-link="#">
          <td class="detainee">
            <div class="detainee-container">
              <p class="name">
                Robert Smith
              </p>
              <p class="offences">Dreary music <span class="more">[+3]</span></p>
              <p class="custody-number">CN: AW201503567</p>
            </div>
          </td>
          <td class="custody-suite">
            <p class="name">Bridewell</p>
            <p class="address">Carrington Street,<br>Nottingham,<br>SE27 9NA<br>02036457861</p>
          </td>
          <td class="solicitor-interview">
            <div class="interview-container notify">
              <div class="interview">
                <p class="time">13:30</p>
                <p class="date">tomorrow</p>
              </div>
            </div>
            <p class="solicitor-name">Akiko Kato</p>
          </td>
          <td class="pace-clock">
            <p>04:31</p>
          </td>
          <td class="actions">
            <%= link_to "<i class=\"icon-angle-right\"></i>".html_safe, "#" %>
            <span class="notifications">1</span>
          </td>
        </tr>

        <tr class="separator">
          <td colspan="5">&nbsp;</td>
        </tr>
        <!-- end defence request -->

        <!-- begin defence request -->
        <tr class="dashboard-dr clickable-row" data-link="#">
          <td class="detainee">
            <div class="detainee-container">
              <p class="name">Sam Draycott</p>
              <p class="offences">Possession of a firearm with intent <span class="more">[+3]</span></p>
              <p class="custody-number">CN: AW201503567</p>
            </div>
          </td>
          <td class="custody-suite">
            <p class="name">Maperley</p>
            <p class="address">Station Street,<br>Nottingham,<br>SE27 9NA<br>02036457861</p>
          </td>
          <td class="solicitor-interview">
            <div class="interview-container">
              <div class="interview not-set">
                <p class="time">&nbsp;</p>
                <p class="date">&nbsp;</p>
              </div>
            </div>
          </td>
          <td class="pace-clock">
            <p>12:31</p>
          </td>
          <td class="actions">
            <%= link_to "<i class=\"icon-angle-right\"></i>".html_safe, "#" %>
            <span class="notifications">3</span>
          </td>
        </tr>

        <tr class="separator">
          <td colspan="5">&nbsp;</td>
        </tr>
        <!-- end defence request -->

      </tbody>
    </table>

  </section>

  <!-- end defence requests -->
</section>