<h1>Check the request</h1>

<p>Check the details below to make sure they're correct. You can change any incorrect details and save changes. Then submit the request.</p>
<p>You can edit the request later if there's updates for further information to add.</p>
<section class="detainee-details">
  <h2><%= not_given_formatter(@defence_request, :detainee_name, "name_not_given") %></h2>

  <%= render("custody_suite/defence_requests/show_partials/detainee_details") %>
</section>


<section class="case-details cf">
  <h2 class="line-above"><%= t("case_details") %></h2>

  <%= render("custody_suite/defence_requests/show_partials/detention_details") %>
</section>

<div class="draft-actions">
    <%= form_tag(transition_defence_request_path, method: :post) do %>
      <%= hidden_field_tag(:defence_request_id, @defence_request.id) %>
      <%= hidden_field_tag(:transition_to, :queue) %>
      <%= submit_tag(t("submit_request"), class: "button") %>
    <% end %>

    <div class="form-links">
      <%= link_to t('cancel_and_delete_all_details'), custody_suite_dashboard_path %>
    </div>
</div>
