<%= render "shared/error_and_flash", object: @defence_request_form %>

<%= link_to t("back_to_requests"), custody_suite_dashboard_path %>

<%= render "custody_suite/defence_requests/show_partials/header" %>

<% if @defence_request.aborted? %>
  <h1><%= t("case_aborted") %></h1>
  <p><%= @defence_request.reason_aborted %></p>
  <p><%= t("call_call_center") if user_has_role?("solicitor") %></p>
<% end %>

<section class="detainee-details">
  <%= render("custody_suite/defence_requests/show_partials/detainee_details") %>
</section>

<%= content_tag("div", class: "js-tabs cf", id: "edit-tabs", data: { activatefirst: @tab.blank? ? "true" : "false" }) do %>
  <div class="tabs-nav">
    <ul class="cf tabs js-tabs-nav js-only">
      <li <%= tab_active_class(@tab == "interview") %>>
        <a href="#interview"><%= t("solicitor_attendance") %></a>
      </li>
      <li class="<%= tab_active_class(@tab == "case-details") %>">
        <a href="#case-details"><%= t("case_details") %></a>
      </li>
    </ul>
  </div>
  <div class="js-tabs-content">
    <div id="interview">
      <%= render "custody_suite/defence_requests/show_partials/interview_tab" %>
    </div>
    <div id="case-details">
      <section class="case-details">
        <h3 class="nonjs"><%= t("case_details")%></h3>
        <%= render "custody_suite/defence_requests/show_partials/detention_details" %>
      </section>
    </div>
  </div>
<% end %>

<% content_for :sidebar do %>
  <div class="<%= "status status-#{@defence_request.state_class}" %>">
    <h2>
      <%= @defence_request.state_text %>
      <span class="time"><i class="icon-time"></i><%= @defence_request.last_action_time %></span>
    </h2>
  </div>
<% end %>
