<% content_for :javascript_includes do %>
  <%= javascript_include_tag "dashboard_poller" unless Settings.dsds.dashboard_refresh_disabled %>
<% end %>

<%= flash_messages %>

<h1><%= "#{t(@dashboard.user_role)}  #{t('dashboard')}" %></h1>

<% if check_policy_clause(@policy, :create?) %>
  <div class="new_defence_request">
    <%= link_to t("new_defence_request"), new_defence_request_path, role: "button", class: "button" %>
  </div>
<% end %>

<%= render 'tabs' %>

<% if @dashboard.user_role == "solicitor" %>
  <%= render "defence_requests/solicitor", requests: requests  %>
<% else %>
  <table class="dashboard">
    <%= render "defence_requests/defence_requests_table_head" %>
    <tbody>
    <%= render "defence_requests/defence_requests_table_body", requests: requests %>
    </tbody>
  </table>
<% end %>
