<%= render 'shared/error_and_flash', object: @abort_defence_request_form %>

<h1>Abort the Defence Request</h1>

<%= form_for @abort_defence_request_form, url: abort_defence_request_path do |form| %>
  <div class="form-group">
    <fieldset>
      <%= hidden_field_tag :transition_to, "abort" %>
      <%= hidden_field_tag :defence_request_id, @abort_defence_request_form.defence_request_id %>
      <%= form.label :transition_info, t("reason_aborted") %>
      <%= form.text_area :transition_info, rows: "10", class: "text-field text-field-wide" %>
    </fieldset>
  </div>
  <%= form.submit(t("abort")) %>
<% end %>
