<h1>Interview Time</h1>

  <% if @policy.interview_start_time_edit? %>
  <div class="edit-time-of-arrival">
    <%= form_for(@defence_request_form, url: interview_start_time_defence_request_path) do |f| %>
      <%= render('shared/date_time_form_part', attribute_name: :interview_start_time, f: f) %>
      <%= hidden_field_tag :defence_request_id, @defence_request_form.defence_request.id %>
      <%= f.submit(t('add_interview_start_time'), class: 'button') %>
    <% end %>
  </div>
  <% else %>
  <div class="show-time-of-arrival">
    <%= @defence_request.interview_start_time? ? date_and_time_formatter(@defence_request.interview_start_time) : "Interview Time Pending" %>
  </div>
  <% end %>

<h1>Solicitor Time of Arrival</h1>
<% if @policy.solicitor_time_of_arrival_from_show? %>
  <div class="time-of-arrival">
    <%= form_for(@defence_request, url: solicitor_time_of_arrival_defence_request_path, method: :patch) do |f| %>
      <%= render('shared/date_time_form_part', attribute_name: :solicitor_time_of_arrival, f: f) if @policy.solicitor_time_of_arrival_from_show? %>
      <%= f.submit(t('add_expected_time_of_arrival'), class: 'button') %>
    <% end %>
  </div>
<% else %>
  <%= @defence_request.solicitor_time_of_arrival? ? date_and_time_formatter(@defence_request.solicitor_time_of_arrival) : "Solicitor Time of Arrival" %>
<% end %>
<div class="location">
  <h2>Location:</h2>
  <p>This is a made up address because its not implemented <%= link_to "XX9 9XX", "X" %></p>
</div>
<div class="Contacts">
  <h3>Custody officer:</h3>
  <p>MADE UP NAME</p>
  <h3>Custody suite contact number:</h3>
  <tel>00000000000000</tel>
  <h2>Contacts:</h2>
  <p>MADE UP ADDRESS</p>
  <h3>Investigating officer:</h3>
  <p>MADE UP NAME</p>
  <h3>Investigating officer contact number:</h3>
  <tel>99999999999999</tel>
</div>
