<% content_for :page_title do %>
  <%= Settings.dsds.app_title %>
<% end %>
<% content_for :stylesheets do %>
  <%# regular compiled elements extensions stylesheet for decent browsers %>
  <!--[if gt IE 8]><!-->
  <%= stylesheet_link_tag('govuk_elements_extensions', media: 'all') %>
  <!--<![endif]-->

  <%# if IE<=8, use compiled version for that browser instead %>
  <!--[if IE 6]>
  <%= stylesheet_link_tag "govuk_elements_extensions_ie6", media: "all" %>
  <![endif]-->
  <!--[if IE 7]>
  <%= stylesheet_link_tag "govuk_elements_extensions_ie7", media: "all" %>
  <![endif]-->
  <!--[if IE 8]>
  <%= stylesheet_link_tag "govuk_elements_extensions_ie8", media: "all" %>
  <![endif]-->

  <%# main app styles %>
  <%= stylesheet_link_tag('application', media: 'all') %>

  <%# overrides/hacks for lower IEs plus FA for IE7 %>
  <!--[if IE 6]>
  <%= stylesheet_link_tag "ie6_overrides", media: "all" %>
  <![endif]-->
  <!--[if IE 7]>
  <%= stylesheet_link_tag "font-awesome-ie7.min", media: "all" %>
  <%= stylesheet_link_tag "ie7_overrides", media: "all" %>
  <![endif]-->
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascript_includes %>
<% end %>
<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= render 'shared/ga' %>
<% end %>
<%= content_for :cookie_message, "" %>
<%= content_for :js_gt_ie, '5' %>
<%# TODO: convert banner to i18n? %>
<% content_for :content_override do %>
  <main id="page-container" role="main">
    <%= render 'shared/banner' %>
    <div class="grid-row cf">
      <div class="<% if content_for?(:sidebar) %>column-three-quarters<% else %>column-full-width<% end %>">
        <%= yield %>
      </div>
      <% if content_for?(:sidebar) %>
        <div class="sidebar column-quarter">
          <%= yield(:sidebar) %>
        </div>
      <% end %>
    </div>
  </main>
<% end %>
<% content_for :proposition_links do %>
  <%= render 'shared/user_profile_links' %>
<% end %>

<% content_for :footer_support_links do %>
  <li>
    <ul>
      <li>
        <%= link_to t('help'), :help %>
      </li>
      <li>
        <%= link_to t('accessibility'), :accessibility %>
      </li>
      <li>
        <%= link_to t('cookies'), :cookies %>
      </li>
      <li>
        <%= link_to t('terms'), :terms %>
      </li>
    </ul>
  </li>
<% end %>

<%= render template: 'layouts/moj_template' %>
