<% unless @part.blank? %>
  <input type="hidden" name="part" value="<%= @part %>" />
<% end %>

<% if @defence_request_form.defence_request.new_record? %>
  <%= f.submit t("create_request"), class: 'button' %>
  <div class="form-links">
    <%= link_to t('cancel_and_delete_all_details'), custody_suite_dashboard_path %>
  </div>
<% else %>
  <%= f.submit class: 'button' %>
  <div class="form-links">
    <%= link_to t('cancel'), custody_suite_defence_request_path_with_tab(@part) %>
  </div>
<% end %>
